<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
  <h1>Add a Family Member</h1>
  <form action="/new" method="post">
    <p>What's your name?</p>
    <input type="text" name="name">

    <p>Pick a color:</p>
    <input type="radio" name="color" id="#ff3066" value="#ffe066" />
    <label for="#ff3066"><span class="color1"></span></label>

    <input type="radio" name="color" id="#69db7c" value="#69db7c" />
    <label for="#69db7c"><span class="color2"></span></label>

    <input type="radio" name="color" id="#ff6b6b" value="#ff6b6b" />
    <label for="#ff6b6b"><span class="color3"></span></label>

    <input type="radio" name="color" id="#f783ac" value="#f783ac" />
    <label for="#f783ac"><span class="color4"></span></label>

    <input type="radio" name="color" id="#da77f2" value="#da77f2" />
    <label for="#da77f2"><span class="color5"></span></label>

    <input type="radio" name="color" id="#9775fa" value="#9775fa" />
    <label for="#9775fa"><span class="color6"></span></label>

    <input type="radio" name="color" id="#748ffc" value="#748ffc" />
    <label for="#748ffc"><span class="color7"></span></label>

    <input type="radio" name="color" id="#4dabf7" value="#4dabf7" />
    <label for="#4dabf7"><span class="color8"></span></label>

    <input type="radio" name="color" id="#3bc9db" value="#3bc9db" />
    <label for="#3bc9db"><span class="color9"></span></label>

    <input type="radio" name="color" id="#38d9a9" value="#38d9a9" />
    <label for="#38d9a9"><span class="color10"></span></label>
    <div class="spacer"></div>
    <button type="submit">Add</button>
  </form>
</body>

</html>